<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()" type="button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <span *ngIf="this.loggedIn()">Logged in</span>
  <a routerLink="/login">
      <button mat-icon-button type="button" mat-button aria-label="Example icon-button with menu icon">
          <mat-icon>login</mat-icon>
      </button>
  </a>
  <button mat-icon-button type="button" (click)="logOut()" mat-button aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
  </button>
  <a routerLink="/register">
      <button type="button">Register</button>
  </a>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
      <nav class="sidenav" >
          <a class="navigate" routerLink="/homepage">Home</a>
          <a class="navigate" routerLink="/companies">Companies</a>
      </nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
