<h2 class="title">Hereby the list of companies in our database</h2>

<div class="content">
    
    <ul class="company-list">
        <li *ngFor="let company of companies">
            <app-company-list-item [company]="company"></app-company-list-item>
        </li>
    </ul>

    <div *ngIf="this.loggedIn()">
        <button mat-raised-button color="primary" type="button" routerLink="/addcompany" class="button">Add company</button>
    </div>
</div>

<mat-paginator  [length]="length" 
                [pageSizeOptions]="[5, 10, 20]" 
                aria-label="Select page">
</mat-paginator>
