.title {
    text-align: center;
}

.content {
    display: flex;

    .button {
        margin: 15px;
        width: 100px;
        height: 100px;
    }
    
    .company-list {
        list-style-type: none;
    }
}
