<div>
    <h2 class="title">Hereby the list of companies in our database</h2>
    
    <div class="content" @fadeIn>
        <ul class="company-list">
            <li *ngFor="let company of companies">
                <app-company-list-item [company]="company"></app-company-list-item>
            </li>
        </ul>
        
        <div class="seach-and-buttons">
            <form class="search-box">
                <mat-form-field class="search-input">
                  <mat-label>Search company...</mat-label>
                  <input matInput type="text" [formControl]="searchFormControl" placeholder="Pizza Hut" />
                  <mat-error *ngIf="searchFormControl.value?.length! < 3">
                    At least three characters.
                  </mat-error>
                </mat-form-field>
                <button matSuffix mat-icon-button aria-label="Clear" (click)="search()" minlength="3">
                    <mat-icon>search</mat-icon>
                </button>
                <button *ngIf="this.searchFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchField()">
                    <mat-icon>close</mat-icon>
                  </button>
            </form>

            <mat-form-field appearance="fill">
              <mat-label>Filter on city</mat-label>
              <mat-select [(ngModel)]="selectedCity" name="city">
                <mat-option *ngFor="let city of cities" [value]="city">
                  {{city}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="selectedCity">
              <button mat-raised-button color="primary" type="button" class="button" (click)="filterOnSelectedCity()">Filter</button>
              <button mat-raised-button color="primary" type="button" class="button" (click)="clearSelectedCity()">Clear filter</button>
              <!--TODO remove the next line when finished-->
              <p>You are filtering on: {{selectedCity}}</p>
            </div>
    
            <div *ngIf="this.loggedIn()">
                <button mat-raised-button color="primary" type="button" routerLink="/addcompany" class="button">Add company</button>
            </div>
        </div>
    </div>
    
    <mat-paginator  #paginator
                    [length]="totalRecords" 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 20]" 
                    [showFirstLastButtons]="true"
                    [pageIndex]="pageIndex"
                    (page)="handlePageEvent($event)"
                    aria-label="Select page">
    </mat-paginator>
</div>