.title {
    text-align: center;
}

.content {
    display: flex;

    .search-box {
        width: 500px;

        .search-input {
            width: 95%;
        }
    }

    .button {
        margin: 15px;
        width: 100px;
        height: 100px;
    }
    
    .company-list {
        list-style-type: none;
    }
}
