.add-rating {
    width: 90%;
    margin: 5px;
    margin-left: 35px;
}

.not-logged-in-notice {
    width: 90%;
    margin: 5px;
    margin-left: 35px;
    border: 5px solid blueviolet;
    color: blueviolet;
}

.list {
    list-style-type: none;
}