<div *ngIf="rating">
    <mat-card class="comment-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{rating.name}}</mat-card-title>
            <!--
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            -->
            <mat-card-subtitle>{{rating.score}} hearts out of 5. On {{rating.date}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{rating.comment}}
        </mat-card-content>
      </mat-card>
</div>
